<div class="text-center d-flex justify-content-center align-items-center" style="height: 70vh;">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title  font-weight-bolder" style="font-size: 26pt;">Welcome to CheckMe-The Supply Chain DAPP</h5>
        <p class="card-text" style="font-size: 16pt;">
          CheckMe is a Decentralized E2E Logistics Application that store the
          whereabouts of products at every freight hub on the Blockchain.
          Customers can simply scan this QR CODE of products and get complete
          informations about the provenance of that product hence empowering
          consumers to only purchase authentic anf quality products.
        </p>
        <div class="d-flex justify-content-center" style="width: 100%;">
          <a href="login" class="btn btn-primary mr-3" style="font-size: 16pt;">Login</a>
          <a href="register" class="btn btn-primary mr-3" style="font-size: 16pt;">Register</a>
        </div>
      </div>
    </div>
  </div>
</div>
