<h2>Please fill out product details</h2>
<form #addProductForm="ngForm" (ngSubmit)="addProduct(addProductForm)">
  <div class="form-group">
    <label type="text" for="productName">Product Name </label>
    <input
      type="text"
      class="form-control"
      id="productName"
      name="productName"
      required
      ngModel
    />
    <label type="text" for="price">Product price </label>
    <input
      type="number"
      min="0"
      class="form-control"
      id="price"
      name="price"
      required
      ngModel
    />
    <input
      type="hidden"
      class="form-control"
      id="username"
      name="username"
      [value]="getUsername()"
      required
    />
  </div>
  <button
    type="submit"
    class="btn btn-primary col-12"
    aria-describedby="register"
  >
    Register Item
  </button>
</form>
<div *ngIf="qrProps.isQrShown" class="container mt-5 text-center">
  <h5>Here is the QR code and the code id for your product</h5>
  <h6>{{ qrProps.value }}</h6>
  <ngx-qrcode
    [elementType]="qrProps.elementType"
    [errorCorrectionLevel]="qrProps.correctionLevel"
    [value]="qrProps.value"
    cssClass="bshadow"
  ></ngx-qrcode>
</div>
