<nav
  class="navbar navbar-expand-lg navbar-light white"
  style="position: fixed; width: 100%; z-index: 20; background-color: white;"
>
  <a class="navbar-brand" href="#">
    <img src="../../assets/img/logo.png" style="width: 30px" />
  </a>

  <button
    class="navbar-toggler"
    type="button"
  >
    <span class="navbar-toggler-icon" style="color: #4287f5"></span>
  </button>

  <div class="collapse navbar-collapse" id="basicExampleNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#" style="color: #4287f5" routerLink="/home">Check Products</a>
      </li>
      <li *ngIf="isManufacturer()" class="nav-item">
        <a class="nav-link" href="#" style="color: #4287f5" routerLink="/home/add-product">Add Products</a>
      </li>
      <li class="nav-item" *ngIf="role=='MANUFACTURER'">
        <a class="nav-link" href="#" style="color: #4287f5">Add Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="color: #4287f5"> About </a>
      </li>
    </ul>

    <form class="form-inline">
      <div class="md-form my-0">
        <a
          class="nav-link"
          style="padding-left: 5px; padding-right: 5px; margin-left: 0px; cursor: pointer;"
          (click)="logout()"
        >
          Logout
        </a>
      </div>
    </form>
  </div>
</nav>
