<div
  style="
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  "
>
  <form
    style="display: flex; justify-content: center; align-items: center"
    #checkProductForm="ngForm"
    (ngSubmit)="checkProduct(checkProductForm)"
  >
    <input
      type="text"
      id="searchText"
      class="searchBox"
      placeholder="Enter Product Code"
      required
      name="productId"
      ngModel
    />
    <label class="qrcode-text-btn" style="width: 4%; display: none"> </label>
    <button type="submit" id="searchButton" class="searchBtn">
      <i class="bi bi-search"></i>
    </button>
  </form>

  <button class="qrbutton"><i class="bi bi-qr-code fa-lg"></i> Scan QR</button>
</div>
