/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-image: url('./assets/img/background.jpg');
    background-attachment: fixed;
}
.searchBox{
    width: 30rem;
    border: 0px;
    height: 55px;
    padding: 15px;
    outline: none;
    border-radius: 10px 0px 0px 10px;
    font-family: Helvetica, sans-serif;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.searchBtn{
    width: 20%;
    border: 0px;
    height: 55px;
    border-radius: 0px 10px 10px 0px;
    background-color: #147EFB;
    margin-left: -2px;
    color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.searchBox:hover{
    background-color: #f7f7f7;
    transition: background-color 0.5s ease;
}

.searchBtn:hover{
    background-color: #1377ed;
    transition: background-color 0.5s ease;
}

.searchBox:focus{
    background-color: #f7f7f7;
}

.qrbutton{
    color: rgb(28, 29, 31);
    background-color: rgba(0,0,0,0);
    border: 0px;
    font-size: 20px;
    margin: 15px;
    margin-bottom: 30px;
}

.qrbutton:hover{
    color: #239ed3;
    transition: color 0.5s ease;
}








