/* You can add global styles to this file, and also import other style files */
@import './assets/css/materialize.css';
@import './assets/css/materialize.min.css';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}
